.product-card {
    margin-bottom: 25px;
}

.product-image {
    /*max-height: 400px;*/
    width: 70%;
    height: auto;
    object-fit: cover;
}

.navbar {
    background-color: darkgray;
    padding: 5px;
}

.navbar-brand {
    font-size: 35px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    color: white;
    background-color: black;
}

body {
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.page-link {
    color: white;
    background-color: black;
    border-color: black;
}

.page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
}

.page-link {
    color: white;
    background-color: black;
    border-color: black;
}

.page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
    border-color: black;
}

button,
.btn {
    border: 1px solid white;
}

button:hover,
.btn:hover {
    border: 1px solid black;
}

.page-item .page-link:hover {
    color: black;
}

.book-details-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.book-author {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

.book-category {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    font-style: italic;
}

.book-image {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-image {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    object-fit: cover;
}

.book-description {
    font-size: 25px;
    margin-bottom: 20px;
}

.book-price {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.back-btn {
    position: absolute;
    top: 120px;
    left: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    padding: 8px 15px;
    text-decoration: none;
}

.back-btn:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.cart-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    padding: 8px 15px;
    text-decoration: none;
}

.cart-btn:hover {
    background-color: white;
    color: black;
    border-color: black;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
}

.contact-info {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.text-center {
    text-align: center;
    margin-top: 150px;
}