<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Author</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Add Author</h1>
  <form th:object="${authorModel}" th:action="@{/admin/authors/save}" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" class="form-control" th:field="*{name}">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" class="form-control" th:field="*{surname}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</body>
</html>