<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Category List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
    <link th:href="@{/css/admin-style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
    <h1>Category List</h1>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td>
                    <form th:action="@{/admin/categories/edit/{id}(id=${category.id})}">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/categories/delete/{id}(id=${category.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a th:href="@{/admin/categories/add}" class="btn btn-success">Add New Category</a>
        <a th:href="@{/admin}" class="btn btn-success">Go to Admin Page</a>
    </div>
</div>
</body>
</html>