<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin User List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
    <link th:href="@{/css/admin-style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
    <h1>User List</h1>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                       class="btn btn-primary action-buttons">Edit</a>
                </td>
                <td>
                    <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a th:href="@{/admin}" class="btn btn-success">Go to Admin Page</a>
    </div>
</div>
</body>
</html>