<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin User List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
  <style>
    .table-container {
      display: flex;
      justify-content: center;
    }

    .action-buttons {
      margin-right: 5px;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>User List</h1>
  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td>
          <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-primary action-buttons">Edit</a>
          <a th:href="@{/admin/authors/delete/{id}(id=${user.id})}" class="btn btn-danger action-buttons">Delete</a>
          <!--                    <form th:action="@{/admin/authors/delete/{id}(id=${author.id})}" method="post">-->
          <!--                        <button type="submit" class="btn btn-danger action-buttons">Delete</button>-->
          <!--                    </form>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <a th:href="@{/admin}" class="btn btn-success">Go to Admin Page</a>
  </div>
</div>
</body>
</html>
